* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th, td {
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.tb-head-icon {
    font-size: 30px;
    color: purple;
    background-color: lightgreen;
}

.price {
    color: green;
    font-size: 24px;
}

td i {
  color: green;

}

.wrong i{
    color: red;
}

td button {
    margin: 5px;
    background-color: purple;
    font-size: 20px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px ;
}

tr:nth-child(even) {
    background-color: lightgreen;
}
tr:nth-child(odd) {
    background-color: lightgoldenrodyellow;
}

td button:hover {
    background-color: red;
}